*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #343132;
    font-family: 'Oxygen', sans-serif;
    background-color: #f2f2f2f2;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
    background-color: #ffffff;
}

.content{
    float: left;
    background-color: #e6e4e5;
    width: calc(66.66% - 30px);
    margin: 0 15px;

}
.sizebar{
    float: right;
    background-color: #e6e4e5;
    width: calc(33.33% - 30px);
    margin: 0 15px;
}